<div class="container m-5 p-5">
  <div class="card">

    <div class="text-center m-5 p-5">
      <a
        class="btn btn-primary mx-5 px-5"
        href="/loginCheck"
        role="button"
      >Teacher</a>
      <a
        class="btn btn-primary mx-5 px-5"
        href="/searchPage"
        role="button"
      >Student</a>
    </div>
  </div>

</div>