<div class="card m-3 p-3">
  <h4>The score board for student</h4>
  <table class="table m-5 p-5 text-center">
    <tbody>
      <tr class="">
        <th>rollnumber</th>
        <td>:</td>
        <th>{{result.rollnumber}}</th>
      </tr>
      <tr class="">
        <th>Student's Name</th>
        <td>:</td>
        <th>{{result.name}}</th>
      </tr>
      <tr class="">
        <th>Date of Birth</th>
        <td>:</td>
        <th>{{result.dob}}</th>
      </tr>
      <tr class="">
        <th>Scores</th>
        <td>:</td>
        <th>{{result.score}}</th>

      </tr>
    </tbody>
  </table>

</div>